# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app
gs2g
gsharp_test

# Temporary files
*~
*.swp

# Code:Blocks temporary files
*.depend
*.layout
*.html

# Local directories
**/bin/
**/lib/
**/obj/

# CMake temporary files
*.cmake
CMakeCache.txt
**/CMakeFiles
**/Testing
Makefile

# Visual Studio cache/options directory
.vs/

# Visual Studio user-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
**/[Dd]ebug*/
**/[Dd]ebugPublic/
**/[Rr]elease/
**/[Rr]eleases/
**/[Xx]64/
**/[Xx]86/
**/[Ww]in32/
**/[Bb]uild/
**/bld/
**/[Bb]in/
**/[Oo]bj/

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.iobj
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap
